<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>About</title>
	<%- include('partials/head.ejs') %>
</head>
<body>
	<header>
		<%- include('partials/header.ejs') %>
	</header>
	<!-- <section class="values">
		<div class="values__container">
			<p class="values__container__para">What we stand for</p>
			<h2 class="values__container__heading">Our Values</h2>
			<ul class="values__container__values">
				<li class="values__container__values__value">
					<i class="fas fa-user-md values__container__values__value__icon">	
					</i>
					<h3 class="values__container__values__value__title">
						Doctor you choose
					</h3>
					<h4 class="values__container__values__value__desc">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit.
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit a
					</h4>
				</li>
				<li class="values__container__values__value">
					<i class="fas fa-heartbeat values__container__values__value__icon">	
					</i>
					<h3 class="values__container__values__value__title">
						Your healthcare
					</h3>
					<h4 class="values__container__values__value__desc">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit.
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum 
					</h4>
				</li>
				<li class="values__container__values__value">
					<i class="fas fa-comment-medical values__container__values__value__icon">	
					</i>
					<h3 class="values__container__values__value__title">
						Always there for you
					</h3>
					<h4 class="values__container__values__value__desc">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit.
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint, 
					</h4>
				</li>
				<li class="values__container__values__value">
					<i class="fas fa-user-nurse values__container__values__value__icon">	
					</i>
					<h3 class="values__container__values__value__title">
						Nursing Staff
					</h3>
					<h4 class="values__container__values__value__desc">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit.
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde odio 
					</h4>
				</li>
				<li class="values__container__values__value">
					<i class="fas fa-ambulance values__container__values__value__icon">	
					</i>
					<h3 class="values__container__values__value__title">
						Emergency services
					</h3>
					<h4 class="values__container__values__value__desc">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit.
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia 
					</h4>
				</li>
				<li class="values__container__values__value">
					<i class="fas fa-hospital values__container__values__value__icon">	
					</i>
					<h3 class="values__container__values__value__title">
						Premium facilites
					</h3>
					<h4 class="values__container__values__value__desc">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit.
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora 
					</h4>
				</li>
			</ul>
		</div>
	</section>
	<section class="statistics">
		<div class="statistics__container">
			<div class="statistics__container__img_wrapper">
				<img src="./assets/femaleDoc.png" class="statistics__container__image" alt="">	
			</div>
			<div class="statistics__container__stats">
				<div class="statistics__container__stats__stat">
					<div class="statistics__container__stats__stat__figure">
						12
					</div>
					<div class="statistics__container__stats__stat__title">
						Years with you
					</div>
					<div class="statistics__container__stats__stat__desc">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
					</div>
				</div>
				<div class="statistics__container__stats__stat">
					<div class="statistics__container__stats__stat__figure">
						2
					</div>
					<div class="statistics__container__stats__stat__title">
						Doctors
					</div>
					<div class="statistics__container__stats__stat__desc">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
					</div>
				</div>
				<div class="statistics__container__stats__stat">
					<div class="statistics__container__stats__stat__figure">
						11
					</div>
					<div class="statistics__container__stats__stat__title">
						Awards
					</div>
					<div class="statistics__container__stats__stat__desc">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
					</div>
				</div>
				<div class="statistics__container__stats__stat">
					<div class="statistics__container__stats__stat__figure">
						900
					</div>
					<div class="statistics__container__stats__stat__title">
						Satisfied Clients
					</div>
					<div class="statistics__container__stats__stat__desc">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="board_of_directors">
		<div class="board_of_directors__container">
			<p class="board_of_directors__container__para">Our Management Team</p>
			<h2 class="board_of_directors__container__heading">Board of Directors</h2>
			<div class="board_of_directors__container__cards">
				<div class="board_of_directors__container__cards__card board_of_directors__container__cards__card--1">
					<div class="board_of_directors__container__cards__card__img_wrapper">
						<img src="assets/director-1.jpg" alt="" class="board_of_directors__container__cards__card__image">
					</div>
					<div class="board_of_directors__container__cards__card__desc">
						<div class="board_of_directors__container__cards__card__desc__icon">
							<i class="fas fa-thermometer"></i>
						</div>
						<div class="board_of_directors__container__cards__card__desc__short">Cosmetic Surgeon</div>
						<div class="board_of_directors__container__cards__card__desc__name">
							Stephanie Wosniack
						</div>
						<div class="board_of_directors__container__cards__card__desc__long">
							Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus labore sunt in animi itaque possimus eum ipsa. Ad odio quae perferendis illum, quos, ipsum deleniti error tempora alias omnis, odit?
						</div>
						<ul class="board_of_directors__container__cards__card__desc__social">
							<li class="board_of_directors__container__cards__card__desc__social__icon">
								<i class="fab fa-facebook-f"></i>
							</li>
							<li class="board_of_directors__container__cards__card__desc__social__icon">
								<i class="fab fa-twitter"></i>
							</li>
							<li class="board_of_directors__container__cards__card__desc__social__icon">
								<i class="fab fa-google-plus-g"></i>
							</li>
						</ul>
					</div>
				</div>
				<div class="board_of_directors__container__cards__card board_of_directors__container__cards__card--1">
					<div class="board_of_directors__container__cards__card__img_wrapper">
						<img src="assets/director-2.jpg" alt="" class="board_of_directors__container__cards__card__image">
					</div>
					<div class="board_of_directors__container__cards__card__desc">
						<div class="board_of_directors__container__cards__card__desc__icon">
							<i class="fas fa-allergies"></i>
						</div>
						<div class="board_of_directors__container__cards__card__desc__short">Pediatrician</div>
						<div class="board_of_directors__container__cards__card__desc__name">
							Hellen Lowe
						</div>
						<div class="board_of_directors__container__cards__card__desc__long">
							Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus labore sunt in animi itaque possimus eum ipsa. Ad odio quae perferendis illum, quos, ipsum deleniti error tempora alias omnis, odit?
						</div>
						<ul class="board_of_directors__container__cards__card__desc__social">
							<li class="board_of_directors__container__cards__card__desc__social__icon">
								<i class="fab fa-facebook-f"></i>
							</li>
							<li class="board_of_directors__container__cards__card__desc__social__icon">
								<i class="fab fa-twitter"></i>
							</li>
							<li class="board_of_directors__container__cards__card__desc__social__icon">
								<i class="fab fa-google-plus-g"></i>
							</li>
						</ul>
					</div>
				</div>
				<div class="board_of_directors__container__cards__card board_of_directors__container__cards__card--1">
					<div class="board_of_directors__container__cards__card__img_wrapper">
						<img src="assets/director-3.jpg" alt="" class="board_of_directors__container__cards__card__image">
					</div>
					<div class="board_of_directors__container__cards__card__desc">
						<div class="board_of_directors__container__cards__card__desc__icon">
							<i class="fas fa-tooth"></i>
						</div>
						<div class="board_of_directors__container__cards__card__desc__short">Dental Surgeon</div>
						<div class="board_of_directors__container__cards__card__desc__name">
							Emily Washington
						</div>
						<div class="board_of_directors__container__cards__card__desc__long">
							Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus labore sunt in animi itaque possimus eum ipsa. Ad odio quae perferendis illum, quos, ipsum deleniti error tempora alias omnis, odit?
						</div>
						<ul class="board_of_directors__container__cards__card__desc__social">
							<li class="board_of_directors__container__cards__card__desc__social__icon">
								<i class="fab fa-facebook-f"></i>
							</li>
							<li class="board_of_directors__container__cards__card__desc__social__icon">
								<i class="fab fa-twitter"></i>
							</li>
							<li class="board_of_directors__container__cards__card__desc__social__icon">
								<i class="fab fa-google-plus-g"></i>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</section> -->
	<section class="hero--about">
		<div class="hero--about__container">
			<h1 class="heading-1 hero--about__container__heading">
				Living healthy matters.
			</h1>	
			<span class="para hero--about__container__span">
				Our specialists aspire to bridge the gap between your benefits plan and the health needs.
			</span>
		</div>
	</section>
	<section class="story">
		<div class="story__container">
			<div class="story__container__col--1">
				<h2 class="heading-2 story__container__col--1__heading">
					You have to begin to tell the story of your life as you now want it to be and discontinue the tales.
				</h2>
				<p class="para story__container__col--1__para">
					Deployment long tail monetization strategy equity basic of team of conversion. Supply chain freemium investor long tail agile workers prototype validation influencer market share.
				</p>
				<p class="para story__container__col--1__para">
					Deployment long tail monetization strategy equity basic of team of conversion. Supply chain freemium investor long tail agile workers prototype validation influencer market share.
				</p>
				<p class="para story__container__col--1__para">
					Deployment long tail monetization strategy equity basic of team of conversion. Supply chain freemium investor long tail agile workers prototype validation influencer market share.
				</p>
				<div class="story__container__col--1__img_wrapper">
					<img src="./assets/signature.png" alt="" class="story__container__col--1__img_wrapper__image">
				</div>
			</div>
			<div class="story__container__col--2">
				<div class="story__container__col--2__img_wrapper">
					<img src="./assets/femaleDoctor.png" alt="" class="story__container__col--2__img_wrapper__image">
				</div>
			</div>
		</div>
	</section>
	<section class="statistics">
		<video src="assets/The New Stamford Hospital TV Commercial.mp4" loop autoplay muted></video>
		<div class="statistics__container">
			<div class="statistics__container__col--1">
				<h2 class="heading-2 statistics__container__col--1__heading">
					Your wellness builds upon the medical daily.
				</h2>
				<p class="para statistics__container__col--1__para">
					Find your best self here. Discover new ways to live an inspiring life through natural beauty, nutrition and diet, an active lifestyle, and better relationships.
				</p>
				<button class="statistics__container__col--1__button">
					Get a Free Checkup
				</button>	
			</div>
			<div class="statistics__container__col--2">
				<div class="statistics__container__col--2__stat">
					<h2 class="heading-2 statistics__container__col--2__stat__figure">
						12M
					</h2>
					<p class="para-1 statistics__container__col--2__stat__title">
						Happy Patients
					</p>
				</div>
				<div class="statistics__container__col--2__stat">
					<h2 class="heading-2 statistics__container__col--2__stat__figure">
						5K
					</h2>
					<p class="para-1 statistics__container__col--2__stat__title">
						Medical Assistants
					</p>
				</div>
				<div class="statistics__container__col--2__stat">
					<h2 class="heading-2 statistics__container__col--2__stat__figure">
						9.8
					</h2>
					<p class="para-1 statistics__container__col--2__stat__title">
						Alexa Score
					</p>
				</div>
				<div class="statistics__container__col--2__stat">
					<h2 class="heading-2 statistics__container__col--2__stat__figure">
						3.2K
					</h2>
					<p class="para-1 statistics__container__col--2__stat__title">
						Doctors Available
					</p>
				</div>
				<div class="statistics__container__col--2__stat">
					<h2 class="heading-2 statistics__container__col--2__stat__figure">
						45K
					</h2>
					<p class="para-1 statistics__container__col--2__stat__title">
						Cure Rate
					</p>
				</div>
				<div class="statistics__container__col--2__stat">
					<h2 class="heading-2 statistics__container__col--2__stat__figure">
						75
					</h2>
					<p class="para-1 statistics__container__col--2__stat__title">
						Health Points
					</p>
				</div>
			</div>
			
		</div>
	</section>
	<section class="help">
		<div class="container help__container">
			<div class="help__container__col-1">
				<h2 class="heading-2 help__container__col-1__heading">
					Join our team
				</h2>
				<p class="para help__container__col-1__text">
					We are always looking for good and talented people.
				</p>	
			</div>
			<div class="help__container__col-2">
				<button class="help__container__col-2__button">Submit your CV</button>
			</div>	
		</div>
	</section>
	<footer class="footer">
		<%- include('partials/footer.ejs') %> 
	</footer>
	<div class="border">
	</div>
</body>
</html>