<!DOCTYPE html>
<head>
	<%- include('partials/head.ejs') %>
	<title>FAQ</title>
</head>
<body>
	<header>
		<%- include('partials/header.ejs') %> 
	</header>
	<section class="page_description page_description--contactus">
		<div class="container page_description__container">
			<h1 class="heading-1 page_description__container__heading">
				FAQ
			</h1>
			<span class="page_description__container__breadcrumb">
				Home / FAQ
			</span>
		</div>
	</section>
	<section class="faq_accordian">
		<div class="faq_accordian__container">
			<div class="about_doctor__container__col--1__more_details">
				<ul class="about_doctor__container__col--1__more_details__accordian">
					<li id="ques_1" class="about_doctor__container__col--1__more_details__accordian__item">
						<a href="#ques_1" class="about_doctor__container__col--1__more_details__accordian__item__btn">
							<div class="detail--1">
								<span class="heading-4">
									How do i make payments?
								</span>	
							</div>
							<div class="down_arrow">
								<i class="fas fa-chevron-down"></i>	
							</div>
						</a>
						<div class="about_doctor__container__col--1__more_details__accordian__item__content">
							<p class="para-1 about_doctor__container__col--1__more_details__accordian__item__content__para">
								Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit repudiandae enim obcaecati! Doloremque alias, harum suscipit, enim ipsum cupiditate qui. Ipsum delectus deleniti distinctio, alias, earum officiis accusamus consectetur eius.
							</p>
						</div>	
					</li>
					<li id="ques_2" class="about_doctor__container__col--1__more_details__accordian__item">
						<a href="#ques_2" class="about_doctor__container__col--1__more_details__accordian__item__btn">
							<div class="detail--1">
								
								<span class="heading-4">
									There is not enough money in my Portea Wallet for making a payment. What do i do?
								</span>	
							</div>
							<div class="down_arrow">
								<i class="fas fa-chevron-down"></i>	
							</div>
						</a>
						<div class="about_doctor__container__col--1__more_details__accordian__item__content">
							<p class="para-1 about_doctor__container__col--1__more_details__accordian__item__content__para">
								Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit repudiandae enim obcaecati! Doloremque alias, harum suscipit, enim ipsum cupiditate qui. Ipsum delectus deleniti distinctio, alias, earum officiis accusamus consectetur eius.
							</p>
						</div>	
					</li>	
					<li id="ques_3" class="about_doctor__container__col--1__more_details__accordian__item">
						<a href="#ques_3" class="about_doctor__container__col--1__more_details__accordian__item__btn">
							<div class="detail--1">
								
								<span class="heading-4">
									Can i transfer balance in Portea Wallet balance to another user?
								</span>	
							</div>
							<div class="down_arrow">
								<i class="fas fa-chevron-down"></i>	
							</div>
						</a>
						<div class="about_doctor__container__col--1__more_details__accordian__item__content">
							<p class="para-1 about_doctor__container__col--1__more_details__accordian__item__content__para">
								Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit repudiandae enim obcaecati! Doloremque alias, harum suscipit, enim ipsum cupiditate qui. Ipsum delectus deleniti distinctio, alias, earum officiis accusamus consectetur eius.
							</p>
						</div>	
					</li>
					<li id="ques_4" class="about_doctor__container__col--1__more_details__accordian__item">
						<a href="#ques_4" class="about_doctor__container__col--1__more_details__accordian__item__btn">
							<div class="detail--1">
								
								<span class="heading-4">
									Is Portea Money the same as Portea Wallet?
								</span>	
							</div>
							<div class="down_arrow">
								<i class="fas fa-chevron-down"></i>	
							</div>
						</a>
						<div class="about_doctor__container__col--1__more_details__accordian__item__content">
							<p class="para-1 about_doctor__container__col--1__more_details__accordian__item__content__para">
								Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit repudiandae enim obcaecati! Doloremque alias, harum suscipit, enim ipsum cupiditate qui. Ipsum delectus deleniti distinctio, alias, earum officiis accusamus consectetur eius.
							</p>
						</div>	
					</li>
					<li id="ques_5" class="about_doctor__container__col--1__more_details__accordian__item">
						<a href="#ques_5" class="about_doctor__container__col--1__more_details__accordian__item__btn">
							<div class="detail--1">
								
								<span class="heading-4">
									Refund
								</span>	
							</div>
							<div class="down_arrow">
								<i class="fas fa-chevron-down"></i>	
							</div>
						</a>
						<div class="about_doctor__container__col--1__more_details__accordian__item__content">
							<p class="para-1 about_doctor__container__col--1__more_details__accordian__item__content__para">
								Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit repudiandae enim obcaecati! Doloremque alias, harum suscipit, enim ipsum cupiditate qui. Ipsum delectus deleniti distinctio, alias, earum officiis accusamus consectetur eius.
							</p>
						</div>	
					</li>
					<li id="ques_6" class="about_doctor__container__col--1__more_details__accordian__item">
						<a href="#ques_6" class="about_doctor__container__col--1__more_details__accordian__item__btn">
							<div class="detail--1">
								
								<span class="heading-4">
									What is Family ID?
								</span>	
							</div>
							<div class="down_arrow">
								<i class="fas fa-chevron-down"></i>	
							</div>
						</a>
						<div class="about_doctor__container__col--1__more_details__accordian__item__content">
							<p class="para-1 about_doctor__container__col--1__more_details__accordian__item__content__para">
								Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit repudiandae enim obcaecati! Doloremque alias, harum suscipit, enim ipsum cupiditate qui. Ipsum delectus deleniti distinctio, alias, earum officiis accusamus consectetur eius.
							</p>
						</div>	
					</li>
					<li id="ques_7" class="about_doctor__container__col--1__more_details__accordian__item">
						<a href="#ques_7" class="about_doctor__container__col--1__more_details__accordian__item__btn">
							<div class="detail--1">
								
								<span class="heading-4">
									Who can be added as Family?
								</span>	
							</div>
							<div class="down_arrow">
								<i class="fas fa-chevron-down"></i>	
							</div>
						</a>
						<div class="about_doctor__container__col--1__more_details__accordian__item__content">
							<p class="para-1 about_doctor__container__col--1__more_details__accordian__item__content__para">
								Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit repudiandae enim obcaecati! Doloremque alias, harum suscipit, enim ipsum cupiditate qui. Ipsum delectus deleniti distinctio, alias, earum officiis accusamus consectetur eius.
							</p>
						</div>	
					</li>
				</ul>
			</div> 
		</div>
		
	</section>
	<section class="help">
		<%- include('partials/help.ejs') %>
	</section>
	<footer class="footer">
		<%- include('partials/footer.ejs') %>
	</footer>
	<div class="border">
	</div>
	<script src="./../index.js"></script>
</body>
</html>
