<!DOCTYPE html>
<html lang="en">
<head>
	<title>Treatment</title>
	<%- include('partials/head.ejs') %>
	<meta charset="UTF-8">
</head>
<body>
	<header>
		<%- include('partials/header.ejs') %>
	</header>
	<section class="page_description page_description--treatments">
		<div class="container page_description__container">
			<h1 class="page_description__container__heading heading-1">
				Dentistry
			</h1>
			<span class="page_description__container__breadcrumb">
				Treatments / Dentistry
			</span>
		</div>
	</section>
	<section class="vaccination">
		<section class="vaccination__container">
			<div class="vaccination__container__col--1">
				<h2 class="vaccination__container__col--1__heading heading-2">
					Vaccination
				</h2>
				<div class="vaccination__container__col--1__about_department">
					<div class="vaccination__container__col--1__about_department__img_wrapper">
						<img src="./assets/dentist.jpg" alt="" class="vaccination__container__col--1__about_department__img_wrapper__image">	
					</div>
					<div class="vaccination__container__col--1__about_department__department_details">
						<h3 class="vaccination__container__col--1__about_department__department_details__title heading-3">
							About Dentist Department
						</h3>
						<p class="vaccination__container__col--1__about_department__department_details__summary para">
							Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem voluptates animi beatae labore accusantium, cum, laborum asperiores et reiciendis quaerat repudiandae dolorum impedit dolores exercitationem vel quis commodi. Quae, omnis.
						</p>
						<ul class="vaccination__container__col--1__about_department__department_details__schedules">
							<li class="vaccination__container__col--1__about_department__department_details__schedules__schedule para">
								CF-related diabetes (monthly)
							</li>
							<li class="vaccination__container__col--1__about_department__department_details__schedules__schedule para">
								Gastrointestinal (monthly)
							</li>
							<li class="vaccination__container__col--1__about_department__department_details__schedules__schedule para">
								CF-related liver disease (monthly)
							</li>
							<li class="vaccination__container__col--1__about_department__department_details__schedules__schedule para">
								Sweat testing (three times per month)
							</li>
						</ul>
					</div>
					<div class="vaccination__container__col--1__about_department__features">
						<div class="vaccination__container__col--1__about_department__features__feature">
							<div class="vaccination__container__col--1__about_department__features__feature_icon">
								<i class="fas fa-stethoscope"></i>
							</div>
							<div class="vaccination__container__col--1__about_department__features__feature_title">
								<h4 class="heading-4">
									Central Nervous System
								</h4>
							</div>
							<div class="vaccination__container__col--1__about_department__features__feature_desc para-1">
								Open visitation with only two visitors in a room at any time. No one under 12 years of age may.
							</div>
						</div>
						<div class="vaccination__container__col--1__about_department__features__feature">
							<div class="vaccination__container__col--1__about_department__features__feature_icon">
								<i class="fas fa-tablets"></i>
							</div>
							<div class="vaccination__container__col--1__about_department__features__feature_title">
								<h4 class="heading-4">
									Allergic Disorders
								</h4>
							</div>
							<div class="vaccination__container__col--1__about_department__features__feature_desc para-1">
								Open visitation with only two visitors in a room at any time. No one under 12 years of age may.
							</div>
						</div>
						<div class="vaccination__container__col--1__about_department__features__feature">
							<div class="vaccination__container__col--1__about_department__features__feature_icon">
								<i class="fas fa-heartbeat"></i>
							</div>
							<div class="vaccination__container__col--1__about_department__features__feature_title">
								<h4 class="heading-4">
									Neoplastic Disorders
								</h4>
							</div>
							<div class="vaccination__container__col--1__about_department__features__feature_desc para-1">
								Open visitation with only two visitors in a room at any time. No one under 12 years of age may.
							</div>
						</div>
					</div>
				</div>
				
			</div>
			<div class="vaccination__container__col--2">
				<div class="service_details_container sidebar_container">
					<h4 class="sidebar_container__heading heading-4">Service Details</h4>
					<ul class="sidebar_container__list">
						<li class="sidebar_container__list__item para-1">
							<span>Price</span>
							<span>from $340</span>
						</li>
						<li class="sidebar_container__list__item para-1">
							<span>Duration</span>
							<span>10 Minutes</span>
						</li>
						<li class="sidebar_container__list__item para-1">
							<span>Office</span>
							<span>#46</span>
						</li>
						<li class="sidebar_container__list__item para-1">
							<span>Doctor</span>
							<span>Dr. Elizabeth Beard</span>
						</li>
						<li class="sidebar_container__list__item para-1">
							<span>Categories</span>
							<span>Family Medicine</span>
						</li>
					</ul>
				</div>
				<div class="schedule_container sidebar_container">
					<h4 class="sidebar_container__heading heading-4">Schedule</h4>
					<ul class="sidebar_container__list">
						<li class="sidebar_container__list__item para-1">
							<span>Tuesday</span>
							<span>10:00am - 01:00pm</span>
						</li>
						<li class="sidebar_container__list__item para-1">
							<span>Friday</span>
							<span>07:00am - 10:00pm</span>
						</li>
					</ul>
				</div>
			</div>	
		</section>
	</section>
	<section class="more_services">
		<div class="more_services__container">
			<div class="more_services__container__row--1">
				<h2 class="more_services__container__row--1__heading heading-2">
					More Services
				</h2>
				<div class="more_services__container__row--1__carousel__buttons">
					<div class="more_services__container__row--1__carousel__buttons__button more_services__container__row--1__carousel__buttons__button--left">
						<i class="fas fa-chevron-left"></i>
					</div>
					<div class="more_services__container__row--1__carousel__buttons__button more_services__container__row--1__carousel__buttons__button--right">
						<i class="fas fa-chevron-right"></i>
					</div>
				</div>
			</div>
			<div class="more_services__container__row--2">
				<div class="more_services__container__row--2__carousel">
					<div class="more_services__container__row--2__carousel__item__container more_services__container__row--2__carousel__item__container--1">
						<div class="more_services__container__row--2__carousel__item__container__item">
							<h4 class="more_services__container__row--2__carousel__item__container__item__title heading-3">
								Orthopedic Surgery
							</h4>
						</div>
					</div>
					<div class="more_services__container__row--2__carousel__item__container more_services__container__row--2__carousel__item__container--2">
						<div class="more_services__container__row--2__carousel__item__container__item">
							<h4 class="more_services__container__row--2__carousel__item__container__item__title heading-3">
								Cancer
							</h4>
						</div>
					</div>
					<div class="more_services__container__row--2__carousel__item__container more_services__container__row--2__carousel__item__container--3">
						<div class="more_services__container__row--2__carousel__item__container__item">
							<h4 class="more_services__container__row--2__carousel__item__container__item__title heading-3">
								Cardiology
							</h4>
						</div>
					</div>
					<div class="more_services__container__row--2__carousel__item__container more_services__container__row--2__carousel__item__container--4">
						<div class="more_services__container__row--2__carousel__item__container__item">
							<h4 class="more_services__container__row--2__carousel__item__container__item__title heading-3">
								Cardiology
							</h4>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<footer class="footer">
		<%- include('partials/footer.ejs') %> 
	</footer>
	<script src="./../carousel.js"></script>
	<script type="text/javascript" src="index.js"></script>
</body>
</html>