<!DOCTYPE html> 
<head>
	<%- include('partials/head.ejs') %>
	<title>Tvastra Plus</title>
</head>
<body> 
	<header> 
		<%- include('partials/header.ejs') %>
	</header>
	<section class="hero hero--plus">
		<div class="container container--flex">
			<span class="plus">PLUS</span>
			<h1 class="heading-1 page_heading">
				Healthcare plans for you and your family.
			</h1>
			<span class="page_description--plus para">Become a Tvastra Plus Member and save 60% off on your yearly health expenses</span>
		</div>
	</section>
	<section class="pricing">
		<div class="container pricing__container">
			<div class="pricing__card">
				<div class="pricing__heading__div">
					<h2 class="heading-2 pricing__heading__div__heading">Select a Tvastra Plus healthcare plan</h2>
					<span class="pricing__heading__div__para para">All Plus plans are for 4 adults and 2 children</span>
				</div>
				<div class="pricing__table">
					<div class="pricing__table__basic_plan">
						<div class="pricing__table__basic_plan__heading">
							<h3 class="heading-3">
								Basic Plan
							</h3>
						</div>
						<div class="pricing__table__basic_plan__benefits">
							<ul class="pricing__table__basic_plan__benefits__list">
								<li class="pricing__table__basic_plan__benefits__list__item pricing__table__basic_plan__benefits__list__item--1 para">
									Unlimited Consultation with any speciality
								</li>
								<li class="pricing__table__basic_plan__benefits__list__item pricing__table__basic_plan__benefits__list__item--2 para">
									20% Off on prescription medicines
								</li>
								<li class="pricing__table__basic_plan__benefits__list__item pricing__table__basic_plan__benefits__list__item--3 para">
									20% Off on tests & checkups
								</li>
								<li class="pricing__table__basic_plan__benefits__list__item pricing__table__basic_plan__benefits__list__item--4 para">
									10 Free In-Clinic consultations
								</li>
								<li class="pricing__table__basic_plan__benefits__list__item pricing__table__basic_plan__benefits__list__item--5 para">
									2 Master health checkups
								</li>
							</ul>
						</div>
						<div class="pricing__table__basic_plan__price">
							<div class="pricing__table__basic_plan__price__amount">
								<h2 class="heading-2">
								₹2,999<span>/year</span>
								</h2>
							</div>
							<div class="pricing__table__basic_plan__price__details">
								<a href=""><span class="para">View Plan Details</span></a>
							</div>
						</div>
						<div class="pricing__table__basic_plan__buy">
							<a href=""><button class="pricing__table__basic_plan__buy__btn">Buy Plan</button></a>
						</div>
					</div>	
					<div class="pricing__table__basic_plan plan-advanced">
						<div class="pricing__table__basic_plan__heading">
							<h3 class="heading-3">
								Advanced Plan
							</h3>
						</div>
						<div class="pricing__table__basic_plan__benefits">
							<ul class="pricing__table__basic_plan__benefits__list">
								<li class="pricing__table__basic_plan__benefits__list__item pricing__table__basic_plan__benefits__list__item--1 para">
									Unlimited Consultation with any speciality
								</li>
								<li class="pricing__table__basic_plan__benefits__list__item pricing__table__basic_plan__benefits__list__item--2 para">
									20% Off on prescription medicines
								</li>
								<li class="pricing__table__basic_plan__benefits__list__item pricing__table__basic_plan__benefits__list__item--3 para">
									20% Off on tests & checkups
								</li>
								<li class="pricing__table__basic_plan__benefits__list__item pricing__table__basic_plan__benefits__list__item--4 para">
									10 Free In-Clinic consultations
								</li>
								<li class="pricing__table__basic_plan__benefits__list__item pricing__table__basic_plan__benefits__list__item--5 para">
									2 Master health checkups
								</li>
							</ul>
						</div>
						<div class="pricing__table__basic_plan__price">
							<div class="pricing__table__basic_plan__price__amount">
								<h2 class="heading-2">
								₹3,999<span>/year</span>
								</h2>
							</div>
							<div class="pricing__table__basic_plan__price__details">
								<a href=""><span class="para">View Plan Details</span></a>
							</div>
						</div>
						<div class="pricing__table__basic_plan__buy">
							<a href=""><button class="pricing__table__basic_plan__buy__btn">Buy Plan</button></a>
						</div>
					</div>
					<div class="pricing__table__basic_plan">
						<div class="pricing__table__basic_plan__heading">
							<h3 class="heading-3">
								Comprehensive Plan
							</h3>
						</div>
						<div class="pricing__table__basic_plan__benefits">
							<ul class="pricing__table__basic_plan__benefits__list">
								<li class="pricing__table__basic_plan__benefits__list__item pricing__table__basic_plan__benefits__list__item--1 para">
									Unlimited Consultation with any speciality
								</li>
								<li class="pricing__table__basic_plan__benefits__list__item pricing__table__basic_plan__benefits__list__item--2 para">
									20% Off on prescription medicines
								</li>
								<li class="pricing__table__basic_plan__benefits__list__item pricing__table__basic_plan__benefits__list__item--3 para">
									20% Off on tests & checkups
								</li>
								<li class="pricing__table__basic_plan__benefits__list__item pricing__table__basic_plan__benefits__list__item--4 para">
									10 Free In-Clinic consultations
								</li>
								<li class="pricing__table__basic_plan__benefits__list__item pricing__table__basic_plan__benefits__list__item--5 para">
									2 Master health checkups
								</li>
							</ul>
						</div>
						<div class="pricing__table__basic_plan__price">
							<div class="pricing__table__basic_plan__price__amount">
								<h2 class="heading-2">
								₹5,999<span>/year</span>
								</h2>
							</div>
							<div class="pricing__table__basic_plan__price__details">
								<a href=""><span class="para">View Plan Details</span></a>
							</div>
						</div>
						<div class="pricing__table__basic_plan__buy">
							<a href=""><button class="pricing__table__basic_plan__buy__btn">Buy Plan</button></a>
						</div>
					</div>
				</div>	
			</div>
		</div>
	</section>
	<section class="trust">
		<div class="container trust__container">
			<h2 class="trust__heading heading-2">
				Trusted by 2 Crore+ users every month
			</h2>
			<span class="trust__para para">
				Tvastra is the leading healthcare technology company in India. We began in 2009 and today we help 2 crore customers every month.
			</span>
			<div class="trust__rating">
				<div class="trust__rating__count">
					<h3 class="heading-1 trust__rating__count__figure">
						4.5
					</h3>
					<div class="trust__rating__count__desc">
						<div class="trust__rating__count__desc__stars">
							<i class="fas fa-star"></i>
							<i class="fas fa-star"></i>
							<i class="fas fa-star"></i>
							<i class="fas fa-star"></i>
							<i class="fas fa-star-half-alt"></i>	
						</div>
						<span class="para">1000+ Reviews</span>
					</div>
				</div>
				<div class="trust__rating__bars">
					<ul class="trust__rating__bars__list">
						<li class="trust__rating__bars__list__bar">
							<div class="trust__rating__bars__list__bar__number para">
								5
							</div>
							<div class="trust__rating__bars__list__bar__container">
								<div class="trust__rating__bars__list__bar__container__bar trust__rating__bars__list__bar__container__bar--5"></div>
							</div>
						</li>
						<li class="trust__rating__bars__list__bar">
							<div class="trust__rating__bars__list__bar__number para">
								4
							</div>
							<div class="trust__rating__bars__list__bar__container">
								<div class="trust__rating__bars__list__bar__container__bar trust__rating__bars__list__bar__container__bar--4"></div>
							</div>
						</li>
						<li class="trust__rating__bars__list__bar">
							<div class="trust__rating__bars__list__bar__number para">
								3
							</div>
							<div class="trust__rating__bars__list__bar__container">
								<div class="trust__rating__bars__list__bar__container__bar trust__rating__bars__list__bar__container__bar--3"></div>
							</div>
						</li>
						<li class="trust__rating__bars__list__bar">
							<div class="trust__rating__bars__list__bar__number para">
								2
							</div>
							<div class="trust__rating__bars__list__bar__container">
								<div class="trust__rating__bars__list__bar__container__bar trust__rating__bars__list__bar__container__bar--2"></div>
							</div>
						</li>
						<li class="trust__rating__bars__list__bar">
							<div class="trust__rating__bars__list__bar__number para">
								1
							</div>
							<div class="trust__rating__bars__list__bar__container">
								<div class="trust__rating__bars__list__bar__container__bar trust__rating__bars__list__bar__container__bar--1"></div>
							</div>
						</li>
					</ul>
				</div>
			</div>
			<div class="trust__statistics">
				<div class="trust__statistics__stat">
					<i class="trust__statistics__stat__icon fas fa-users">
					</i>
					<h3 class="heading-3 trust__statistics__stat__heading">
						2 Crore+
					</h3>
					<span class="trust__statistics__stat__desc para">
						Monthly Customers
					</span>
				</div>
				<div class="trust__statistics__stat">
					<i class="trust__statistics__stat__icon fas fa-user-md">
					</i>
					<h3 class="heading-3 trust__statistics__stat__heading">
						100,000+
					</h3>
					<span class="trust__statistics__stat__desc para">
						Verfied Doctors
					</span>
				</div>
				<div class="trust__statistics__stat">
					<i class="trust__statistics__stat__icon fas fa-pills">
					</i>
					<h3 class="heading-3 trust__statistics__stat__heading">
						10 Lakh+
					</h3>
					<span class="trust__statistics__stat__desc para">
						Medicine Orders Delivered
					</span>
				</div>
				<div class="trust__statistics__stat">
					<i class="trust__statistics__stat__icon far fa-users">
					</i>
					<h3 class="heading-3 trust__statistics__stat__heading">
						5 Crore+
					</h3>
					<span class="trust__statistics__stat__desc para">
						Doctor Appointments
					</span>
				</div>
			</div>
		</div>
	</section>
	<section class="benefits">
		<div class="container benefits__container">
			<h2 class="heading-4 benefits__heading">
				Benefits of Plus Membership
			</h2>
			<div class="benefits__grid">
				<div class="row row--1">
					<div class="benefits__grid__col--1 col">
						<h2 class="heading-2 col-heading">
							Zero fees for in-clinic consultation
						</h2>
						<div class="col-points">
							<div class="point">
								<i class="point-icon fas fa-check-circle"></i>	
								<span class="point-desc para">Consult with 30000+ specialist doctors at top clinics & hospitals in the PLUS network at Rs.0 consultation fees*</span>	
							</div>
							<div class="point">
								<i class="point-icon fas fa-check-circle"></i>
								<span class="point-desc para">Upto 10 in-clinic consultations can be used by any family member over 12 month period.</span>	
							</div>
						</div>
					</div>
					<div class="benefits__grid__col--2 col">
						<h3 class="col-heading heading-3" id="top-hospitals">
							Top Hospitals Onboarded
						</h3>
						<div class="hospitals_grid">
							<div class="image_container benefit_image_container">
								<img src="./../assets/sakra.svg" alt="" class="image">
							</div>
							
							<div class="image_container benefit_image_container">
								<img src="./../assets/psri.svg" alt="" class="image">
							</div>
							<div class="image_container benefit_image_container">
								<img src="./../assets/artemis.svg" alt="" class="image">
							</div>
							<div class="image_container benefit_image_container">
								<img src="./../assets/people-tree.svg" alt="" class="image">
							</div>
							<div class="image_container benefit_image_container">
								<img src="./../assets/birla.svg" alt="" class="image">
							</div>
							<div class="image_container benefit_image_container">
								<img src="./../assets/pratiksha.svg" alt="" class="image">
							</div>
							<div class="more_hospital_hidden image_container">
								<img src="./../assets/pratiksha.svg" alt="" class="image">
							</div>
							<div class="more_hospital_hidden image_container">
								<img src="./../assets/pratiksha.svg" alt="" class="image">
							</div>
							<div class="more_hospital_hidden image_container">
								<img src="./../assets/pratiksha.svg" alt="" class="image">
							</div>
							<div class="more_hospital_hidden image_container">
								<img src="./../assets/pratiksha.svg" alt="" class="image">
							</div>
						</div>
						<div class="more_hospitals">
							<button><span class="para more_hospitals_text">+ More Hospitals</span></button>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="benefits__grid__col--1 col">
						<h2 class="heading-2 col-heading">
							Unlimited online consultations with top doctors
						</h2>
						<div class="col-points">
							<div class="point">
								<i class="point-icon fas fa-check-circle"></i>	
								<span class="point-desc para">Get all your health queries answered from any specialist online, any time of the day</span>	
							</div>
							<div class="point">
								<i class="point-icon fas fa-check-circle"></i>
								<span class="point-desc para">Connect under 2 minutes on text, call or video - available 24 hrs, 7 days of the week</span>	
							</div>
							<div class="point">
								<i class="point-icon fas fa-check-circle"></i>
								<span class="point-desc para">All online consultations are confidential. Only patient and doctor can the access the chats</span>	
							</div>
						</div>
					</div>
					<div class="benefits__grid__col--2 col">
						<div class="benefits__image_container">
							<img src="./../assets/cover.png" alt="" class="image">
						</div>
					</div>
				</div>
				<div class="row">
					<div class="benefits__grid__col--1 col">
						<h2 class="heading-2 col-heading">
							Flat 20% Off on prescription medicine, lab tests & checkups
						</h2>
						<div class="col-points">
							<div class="point">
								<i class="point-icon fas fa-check-circle"></i>	
								<span class="point-desc para">Save money on medicines and lab tests for your entire family</span>	
							</div>
							<div class="point">
								<i class="point-icon fas fa-check-circle"></i>
								<span class="point-desc para">Get flat 20% off on medicines that require prescriptions & flat 20% off on health checkups and lab tests</span>	
							</div>
							<div class="point">
								<i class="point-icon fas fa-check-circle"></i>
								<span class="point-desc para">No questions asked. No minimum order values, no limits, available in 100+ cities across India</span>	
							</div>
						</div>
					</div>
					<div class="benefits__grid__col--2 col">
						<div class="benefits__image_container">
							<img src="./../assets/order.jpg" alt="" class="image">
						</div>
					</div>
				</div>
				<div class="row">
					<div class="benefits__grid__col--1 col">
					<h2 class="heading-2 col-heading">
							2 Free health checkups
						</h2>
						<div class="col-points">
							<div class="point">
								<i class="point-icon fas fa-check-circle"></i>	
								<span class="point-desc para">Discuss your test results with doctors through online consultations. Receive E-Report within 48 hrs.</span>	
							</div>
							<div class="point">
								<i class="point-icon fas fa-check-circle"></i>
								<span class="point-desc para">Home sample pickup</span>	
							</div>
							<div class="point">
								<i class="point-icon fas fa-check-circle"></i>
								<span class="point-desc para">Tabs are NABL, CAP Accredited</span>	
							</div>
							<div class="point">
								<i class="point-icon fas fa-check-circle"></i>
								<span class="point-desc para">Checkups can be booked anytime, even weekends. Tax deductible under 80D.</span>	
							</div>
						</div>
					</div>
					<div class="benefits__grid__col--2 col">
						<div class="benefits__image_container">
							<img src="./../assets/checkup.jpg" alt="" class="image">
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="tests">
		<div class="tests__container container">
			<h2 class="para tests__heading">60 Tests Included</h2>
			<div class="tests__grid carousel_container">
				<div class="tests__grid__card carousel_item">
					<div class="tests__grid__card__icon">
						<img src="./../assets/Vitamin test.svg" alt="">
					</div>
					<div class="tests__grid__card__title">
						<h4 class="heading-4">Vitamin Profile</h4>
					</div>
					<div class="tests__grid__card__count">
						<span class="para">2 Tests</span>
					</div>
				</div>
				<div class="tests__grid__card carousel_item">
					<div class="tests__grid__card__icon">
						<img src="./../assets/Thyroid.svg" alt="">
					</div>
					<div class="tests__grid__card__title">
						<h4 class="heading-4">Thyroid Profile</h4>
					</div>
					<div class="tests__grid__card__count">
						<span class="para">3 Tests</span>
					</div>
				</div>
				<div class="tests__grid__card carousel_item">
					<div class="tests__grid__card__icon">
						<img src="./../assets/Iron def.svg" alt="">
					</div>
					<div class="tests__grid__card__title">
						<h4 class="heading-4">Iron Deficiency Profile</h4>
					</div>
					<div class="tests__grid__card__count">
						<span class="para">3 Tests</span>
					</div>
				</div>
				<div class="tests__grid__card carousel_item">
					<div class="tests__grid__card__icon">
						<img src="./../assets/Liver.svg" alt="">
					</div>
					<div class="tests__grid__card__title">
						<h4 class="heading-4">Liver Profile</h4>
					</div>
					<div class="tests__grid__card__count">
						<span class="para">11 Tests</span>
					</div>
				</div>
				<div class="tests__grid__card carousel_item">
					<div class="tests__grid__card__icon">
						<img src="./../assets/Lipid.svg" alt="">
					</div>
					<div class="tests__grid__card__title">
						<h4 class="heading-4">Lipid Profile</h4>
					</div>
					<div class="tests__grid__card__count">
						<span class="para">8 Tests</span>
					</div>
				</div>
				<div class="tests__grid__card carousel_item">
					<div class="tests__grid__card__icon">
						<img src="./../assets/Blood elemetns.svg" alt="">
					</div>
					<div class="tests__grid__card__title">
						<h4 class="heading-4">Complete Blood Count</h4>
					</div>
					<div class="tests__grid__card__count">
						<span class="para">28 Tests</span>
					</div>
				</div>
				<div class="tests__grid__card carousel_item">
					<div class="tests__grid__card__icon">
						<img src="./../assets/HbA1c.svg" alt="">
					</div>
					<div class="tests__grid__card__title">
						<h4 class="heading-4">Diabetes Profile</h4>
					</div>
					<div class="tests__grid__card__count">
						<span class="para">2 Tests</span>
					</div>
				</div>
				<div class="tests__grid__card carousel_item">
					<div class="tests__grid__card__icon">
						<img src="./../assets/General_1.svg" alt="">
					</div>
					<div class="tests__grid__card__title">
						<h4 class="heading-4">Others</h4>
					</div>
					<div class="tests__grid__card__count">
						<span class="para">6 Tests</span>
					</div>
				</div>
			</div>
			<div class="tests__dots">
				<div class="tests__dots__dot dot_active carousel_dot" data-number='0'>
				</div>
				<div class="tests__dots__dot carousel_dot" data-number='1'>
				</div>
			</div>
		</div>	
	</section>
	<section class="testimonials">
		<div class="testimonials__container container">
			<div class="testimonials_heading_container">
				<h2 class="testimonials__heading heading-2">
					Why we love Tvastra
				</h2>
				 <span class="plus">PLUS</span>
			</div>
			
			<div class="testimonials__grid">
				<div class="testimonials__grid__card">
					<div class="para testimonials__grid__card__testimonial">
						<p>"Wonderful experience with Tvastra Plus it helped me in saving a lot of amount as it provides free consultations with best doctors."</p>
					</div>
					<div class="testimonials__grid__card__user_info">
						<div class="testimonials__grid__card__user_info__dp">
							<img src="./../assets/director-1.jpg" alt="">							
						</div>
						<h4 class="heading-4 testimonials__grid__card__user_info__name">
							Rishabh Tiwari
						</h4>
						<span class="para-1 testimonials__grid__card__user_info__plan">
							Advanced Plan User
						</span>
					</div>
				</div>
				<div class="testimonials__grid__card">
					<div class="para testimonials__grid__card__testimonial">
						<p>"Fantastic experience with health test using Tvastra Plus. Didn't pay anything for test. I came to know my deficiency in vitamin where family doctor feature helped me with medicine"</p>
					</div>
					<div class="testimonials__grid__card__user_info">
						<div class="testimonials__grid__card__user_info__dp">
							<img src="./../assets/director-1.jpg" alt="">							
						</div>
						<h4 class="heading-4 testimonials__grid__card__user_info__name">
							Mini Agarwal
						</h4>
						<span class="para-1 testimonials__grid__card__user_info__plan">
							Comprehensive Plan User
						</span>
					</div>
				</div>
				<div class="testimonials__grid__card">
					<div class="para testimonials__grid__card__testimonial">
						<p>"24x7 access to doctors in just 60 seconds with 2 kids, one of them is bound to fall sick. Comes in super handy."</p>
					</div>
					<div class="testimonials__grid__card__user_info">
						<div class="testimonials__grid__card__user_info__dp">
							<img src="./../assets/director-1.jpg" alt="">							
						</div>
						<h4 class="heading-4 testimonials__grid__card__user_info__name">
							Prachi Gupta
						</h4>
						<span class="para-1 testimonials__grid__card__user_info__plan">
							Comprehensive Plan User
						</span>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="faq_accordian">
		<div class="faq_accordian__container">
			<h2 class="heading-2 faq_accordian__heading">
				Frequently Asked Questions
			</h2>
			<div class="about_doctor__container__col--1__more_details">
				<ul class="about_doctor__container__col--1__more_details__accordian">
					<li id="ques_1" class="about_doctor__container__col--1__more_details__accordian__item">
						<a href="#ques_1" class="about_doctor__container__col--1__more_details__accordian__item__btn">
							<div class="detail--1">
								<span class="heading-4">
									How does free in-clinic consultation with doctors and hospitals work?
								</span>	
							</div>
							<div class="down_arrow">
								<i class="fas fa-chevron-down"></i>	
							</div>
						</a>
						<div class="about_doctor__container__col--1__more_details__accordian__item__content">
							<p class="para-1 about_doctor__container__col--1__more_details__accordian__item__content__para">
								Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit repudiandae enim obcaecati! Doloremque alias, harum suscipit, enim ipsum cupiditate qui. Ipsum delectus deleniti distinctio, alias, earum officiis accusamus consectetur eius.
							</p>
						</div>	
					</li>
					<li id="ques_2" class="about_doctor__container__col--1__more_details__accordian__item">
						<a href="#ques_2" class="about_doctor__container__col--1__more_details__accordian__item__btn">
							<div class="detail--1">
								
								<span class="heading-4">
									Are there are any type of doctors not included in Tvastra Plus in-clinic consultation network?
								</span>	
							</div>
							<div class="down_arrow">
								<i class="fas fa-chevron-down"></i>	
							</div>
						</a>
						<div class="about_doctor__container__col--1__more_details__accordian__item__content">
							<p class="para-1 about_doctor__container__col--1__more_details__accordian__item__content__para">
								Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit repudiandae enim obcaecati! Doloremque alias, harum suscipit, enim ipsum cupiditate qui. Ipsum delectus deleniti distinctio, alias, earum officiis accusamus consectetur eius.
							</p>
						</div>	
					</li>	
					<li id="ques_3" class="about_doctor__container__col--1__more_details__accordian__item">
						<a href="#ques_3" class="about_doctor__container__col--1__more_details__accordian__item__btn">
							<div class="detail--1">
								
								<span class="heading-4">
									How do the unlimited online consultation work?
								</span>	
							</div>
							<div class="down_arrow">
								<i class="fas fa-chevron-down"></i>	
							</div>
						</a>
						<div class="about_doctor__container__col--1__more_details__accordian__item__content">
							<p class="para-1 about_doctor__container__col--1__more_details__accordian__item__content__para">
								Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit repudiandae enim obcaecati! Doloremque alias, harum suscipit, enim ipsum cupiditate qui. Ipsum delectus deleniti distinctio, alias, earum officiis accusamus consectetur eius.
							</p>
						</div>	
					</li>
					<li id="ques_4" class="about_doctor__container__col--1__more_details__accordian__item">
						<a href="#ques_4" class="about_doctor__container__col--1__more_details__accordian__item__btn">
							<div class="detail--1">
								
								<span class="heading-4">
									How does flat 20% off on medicines work?
								</span>	
							</div>
							<div class="down_arrow">
								<i class="fas fa-chevron-down"></i>	
							</div>
						</a>
						<div class="about_doctor__container__col--1__more_details__accordian__item__content">
							<p class="para-1 about_doctor__container__col--1__more_details__accordian__item__content__para">
								Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit repudiandae enim obcaecati! Doloremque alias, harum suscipit, enim ipsum cupiditate qui. Ipsum delectus deleniti distinctio, alias, earum officiis accusamus consectetur eius.
							</p>
						</div>	
					</li>
					<li id="ques_5" class="about_doctor__container__col--1__more_details__accordian__item">
						<a href="#ques_5" class="about_doctor__container__col--1__more_details__accordian__item__btn">
							<div class="detail--1">
								
								<span class="heading-4">
									How does 20% off on lab tests work?
								</span>	
							</div>
							<div class="down_arrow">
								<i class="fas fa-chevron-down"></i>	
							</div>
						</a>
						<div class="about_doctor__container__col--1__more_details__accordian__item__content">
							<p class="para-1 about_doctor__container__col--1__more_details__accordian__item__content__para">
								Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit repudiandae enim obcaecati! Doloremque alias, harum suscipit, enim ipsum cupiditate qui. Ipsum delectus deleniti distinctio, alias, earum officiis accusamus consectetur eius.
							</p>
						</div>	
					</li>
				</ul>
			</div> 
		</div>
		
	</section>
	<footer class="footer">
		<%- include('partials/footer.ejs') %>
	</footer>
	<div class="border">
	</div>
	<script src="./../index.js"></script>
</body>
</html>