<div class="container help__container">
	<div class="help__container__col-1">
		<h2 class="heading-2 help__container__col-1__heading">
			Need Help?
		</h2>
		<p class="para help__container__col-1__text">
			Just let us know. We will be happy to assist you
		</p>	
	</div>
	<div class="help__container__col-2">
		<a href="/submit-your-query"><button class="help__container__col-2__button">Submit your query</button></a>
	</div>	
</div>