<div class="profile_detail">
	<div class="profile_small_details">
		<div class="profile_picture__container">
			<img src="./../public/users/default-user.png" class="profile_picture">
		</div>
		<div class="name_and_phone">
			<a href="/user-dashboard"><h4 class="name"><%= session.user.name %></h4></a>
			<span class="phoneNumber"><%= session.user.phoneNumber %></span> 
		</div>
	</div>
</div>
