.dashboard_content{
	transform: 0;
	width: 100%;
	// position: relative;
	background-color: $background-color;
	
}	
.statistics_site{
	&__grid{
		display: grid;
		grid-template-columns: 100%;
		grid-gap: 2rem;
		&__item{
			display: grid;
			grid-template-columns: 1fr 7fr;
			grid-gap: 3rem;
			box-shadow: 0px 0px 3rem rgba(0,0,0,.15);
			border-radius: .5rem;
			padding: 2rem 2rem;
			&__col--1{
				align-self: center;
			}
			&__col--2{
				align-self: center;
			}
			&__icon{
				font-size: 3rem;
				color: $bright-blue;
			}
			&__title{
				font-family: $nexa-bold;
				color: black;
				margin-bottom: .5rem;
			}
			&__figure{
				font-family: $nexa-bold;
				color: $bright-blue;	
			}
		}
	}
}

.earnings_chart_container{
}

@media(min-width: $bp-tablet){
	.statistics_site{
		padding: 2rem 3rem;
		&__grid{
			grid-template-columns: 1fr 1fr;
		}
	}
}

@media(min-width: $bp-desktop) {
	.dashboard_content{
		overflow: scroll;
		height: 100%;
		overflow-x: hidden;
	}
	.statistics_site{
		&__grid{
			grid-template-columns: 1fr 1fr;
		}
	}
}