.edit_profile{
	&--doctor{
	}
	&_container{
		margin: 2rem;
		background-color: white;
		input{
			margin: 1rem 0rem;
			display: block;
			border: 1px solid #ccc;
			padding: 1rem 1rem;
			font-family: $nexa-bold;
			font-size: 1.2rem;
			color: #777;
			width: 100%;
		}
		.edit_profile_heading{
			display:flex;
			justify-content: space-between;
			align-items: center;
			h4{
				font-family: $nexa-bold;
			}
		}
		label{
			font-family: $nexa-bold;
			font-size: 1.3rem;
		}
		select{
			display: block;
			width: 100%;
			margin-bottom: 1rem;
			margin-top: 1rem;
			border: 1px solid #ccc;
			color: #777;
			padding: 1rem 1.5rem;
			font-family: $nexa-bold;
			font-size: 1.2rem;
			background-color: white;
		}
		.save_button{
			// border-bottom: 1px solid #ddd;
			padding: 2rem 0rem;
			text-align: right;
			button{
				background-color: $bright-blue;
				padding: 1rem 2rem;
				border: none;
			    span{
			    	font-family: $nexa-bold;
			    	color: $background-color;
			    }
			}
		}
		.photo_and_name{
			padding: 2rem;	
			// margin-bottom: 2rem;
			border-bottom: 1px solid #ddd;
			.edit_profile_photo{
				display: flex;
				// flex-direction: column;
				grid-gap: 2rem;
				margin-bottom: 2rem;
				.upload_photo_image_container{
					width: 8rem;
					height: 8rem;
					align-self: center;
					border-radius: 50%;
					overflow: hidden;
					img{
						width: 100%;
						height: 100%;
					}
				}
				.upload_image_container{
					display: flex;
					flex-direction: column;
					justify-content: center;
					#display_picture{
						visibility: hidden;
						margin: 0;
						padding :0;
						position: absolute;
					}	
					span{
						font-family: $nexa-bold;
						font-size: 1.3rem;
						display: block;	
						margin-bottom: 2rem;
					}
					label{
						font-size: 1.2rem;
						color: $bright-blue;
						cursor: pointer;
					}
				}
				
			}
		}
		.edit_other_details{
			// margin-bottom: 2rem;
			border-bottom: 1px solid #ddd;
			padding: 2rem;
			.edit_phone_number{
				display: flex;
				justify-content: space-between;
				#edit_phone_number{
					font-family: $nexa-bold;
					color: $bright-blue;
					cursor: pointer;
				}
			}
		}
		.edit_address{
			padding: 2rem;
		}
		.edit_doctor_details{
			display: flex;
			grid-gap: 1rem;
			flex-direction: column;
			padding: 2rem;
			.edit_field{
				display: flex;
				flex-direction: column;
				grid-gap: .5rem;
				input[type=number]{
					-moz-appearance: textfield;
				}
				textarea{
					font-family: $nexa-bold;
				}
				.tagify{
					font-size: 1.4rem;
					font-family: $nexa-bold;
					color: #777;
				}

			}
		}
	}
}

.change_phone_number_form_container{
	position: fixed;
	z-index: 100000;
	background-color: rgba(black,.4);
	top: 0;
	left: 0;
	width: 100vw;
	height: 100%;
	.change_phone_number{
		position: relative;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		height: 25rem;
		width: 30rem;
		background-color: $background-color;
		.close-form{
			position: absolute;
			right: 1rem;
			top: 1rem;
			font-size: 1.4rem;
		}
	}
}

@media(min-width: $bp-tablet){
	.change_phone_number_form_container{
		.change_phone_number{
			width: 40rem;
			height: 25rem;
		}
	}
	.edit_profile{
		&_container{
			margin: 3rem;
			.edit_profile_heading{
				height: 7.5rem;
				padding: 2rem;
				h4{
					font-family: $nexa-bold;
				}
				border-bottom: 1px solid #ddd;
				display: flex;
				justify-content: space-between;
				align-items: center;
			}
			
		}
		.photo_and_name{
			display: grid;
			grid-template-columns: 1fr 1fr;
			grid-gap: 2rem;
			.edit_profile_photo{
				flex-direction: row;
				.upload_photo_image_container{
				}
			}
		}
		.edit_other_details{
			display: grid;
			grid-template-columns: 1fr 1fr;
			grid-gap: 2rem;
			.edit_phone_number{
				display: flex;
				justify-content: space-between;
				#edit_phone_number{
					font-family: $nexa-bold;
					color: $bright-blue;
					cursor: pointer;
				}
			}
		}
		.edit_address{
			display: grid;
			grid-template-columns: 1fr 1fr;
			grid-gap: 2rem;
			padding: 2rem;
		}
		.edit_doctor_details{
			display: grid;
			grid-template-columns: 1fr 1fr;
			grid-gap: 2rem;
			padding: 2rem;
			.edit_field{
				.tagify{
					font-size: 1.4rem;
					font-family: $nexa-bold;
					color: #777;
				}	
			}
		}
	}
}

@media(min-width: $bp-desktop){
	.edit_profile{
		&_container{
			&--admin-edit-doctor{
				padding: 2rem;
			}
			margin: 0rem;
		}
		.edit_other_details{
			padding: 2rem;
			grid-template-columns: 1fr 1fr 1fr;
		}
		.photo_and_name{
			grid-template-columns: 1fr 1fr 1fr;
		}
		.edit_address{
			padding: 2rem;
			grid-template-columns: 1fr 1fr 1fr;
		}
		.edit_doctor_details{
			padding: 2rem;
			grid-template-columns: 1fr 1fr; 
			.edit_field{
				.tagify{
					font-size: 1.4rem;
					font-family: $nexa-bold;
					color: #777;
				}

			}
		}
	}
	
}